In [7]:
import pandas as pd
import numpy as np
raw_data = {
        'id': ['12', '34', '45'],
        'mag_i': ['23', '45', '21'], 
        'vartype': ['1', '1', '2']}
df_a = pd.DataFrame(raw_data, columns = ['id', 'mag_i', 'vartype'])
print(df_a)
raw_data1 = {
        'id': ['12', '12', '12','34', '34', '45'],
        'mag': ['15', '22', '21','22', '22', '42'], 
        'mjd': ['14', '15', '17','18', '19', '20']}
df_a1 = pd.DataFrame(raw_data1, columns = ['id', 'mag', 'mjd'])
print(df_a1)
df = df_a1.merge(df_a,how='left', on='Column A')
print (df)
df.to_csv('output11.csv',index = False)

SyntaxError: invalid syntax (<ipython-input-7-78d02dcf1b5d>, line 15)

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
data=pd.read_csv('C:\\Users\\Shreya choudhary\\tabl1.txt',names=["ID","mag_i","vartype"])
data1=pd.read_csv('C:\\Users\\Shreya choudhary\\tabl2.txt', sep=",",header=None ,names=["ID","Mag","MJD"])
#result = pd.merge(data, data1, on='ID',how='left')
result = data[['ID','vartype']].merge(data1[['ID','Mag','MJD']], on = 'ID',how = 'left')
result.to_csv('mergex.txt', encoding='utf-8',index=False)
print(result)
#df=pd.read_csv('mergex.txt', sep=',',header=None)
#df.values

#np.loadtxt('mergex.txt', skiprows=1, delimiter=',')
#np.genfromtxt('mergex.txt', skip_header=1, delimiter=',')

df = pd.read_csv('mergex.txt')
#saved_column = df['Mag'] #you can also use df['column_name']
#df.shape
#for j in df.Mag:
#for length in df.Mag:
df[(df.vartype==1)]
g=df.ID.unique()
d=len(df.Mag)
print(d)
c=[]  #pandas empty series declaration or defination
e=[]
df=df.values # CONVERTS pandas dataframe into numpy n dim array

np.genfromtxt('mergex.txt',unpack=True,delimiter=',')
 
#df = numpy.delete(x, (0), axis=0)
for i in range(0,len(Mag)):
    for j in range(i+1,len(Mag)):
        c.append(Mag[i]-Mag[j])
print(c) 
for i in range(0,len(MJD)):
    for j in range(i+1,len(MJD)):
        e.append(MJD[i]-MJD[j])
"""for i in df.Mag:
    for j in df.Mag:
        c.append(i-j)
for i in df.MJD:
    for j in df.MJD:
        e.append(i-j)"""
print(e)
    
s1 = pd.Series(c, name='dm')

s2 = pd.Series(e,name='dt')

dmdt=pd.concat([s1, s2], axis=1) 
#df['count'] = df['count'].abs()
print(dmdt)
bins=[-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10] #bins of y axis
dmdt['bins_yaxis']=pd.cut(dmdt['dm'],bins,right=False)
print(dmdt)
bins1=[-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10] #bins of x axis
dmdt['bins_xaxis']=pd.cut(dmdt['dt'],bins1)
print(dmdt)

   ID  vartype  Mag  MJD
0  12        1   15   12
1  12        1   13   12
2  12        1   14   15
3  34        1    2    7
4  34        1    4    5
5  45        2    2    2
6

NameError: name 'Mag' is not defined

In [32]:
xv, yv = np.meshgrid(x, y, sparse=False, indexing='ij')
for i in range(nx):
    for j in range(ny):

SyntaxError: unexpected EOF while parsing (<ipython-input-32-1277dd2ef934>, line 4)

In [31]:
import pandas as pd
dd=pd.read_table('http://nesssi.cacr.caltech.edu/DataRelease/CatalinaVars.tbl',sep=' ')
dd.head(10)

,#,Catalina_Surveys_ID,Unnamed: 2,Unnamed: 3,Numerical_ID,Unnamed: 5,RA_(J2000),Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,V_(mag),Period_(days),Amplitude,Number_Obs,Var_Type
0,CSS_J000020.4+103118,NaN,1109001041232,NaN,00:00:20.41,NaN,NaN,+10:31:18.9,NaN,NaN,...,1.491758,NaN,NaN,NaN,2.39,NaN,223,2.0,NaN,NaN
1,CSS_J000031.5-084652,NaN,1009001044997,NaN,00:00:31.50,NaN,NaN,-08:46:52.3,NaN,NaN,...,0.404185,NaN,NaN,NaN,0.12,NaN,163,1.0,NaN,NaN
2,CSS_J000036.9+412805,NaN,1140001063366,NaN,00:00:36.94,NaN,NaN,+41:28:05.7,NaN,NaN,...,0.274627,NaN,NaN,NaN,0.73,NaN,158,1.0,NaN,NaN
3,CSS_J000037.5+390308,NaN,1138001069849,NaN,00:00:37.55,NaN,NaN,+39:03:08.1,NaN,NaN,...,0.30691,NaN,NaN,NaN,0.23,NaN,219,1.0,NaN,NaN
4,CSS_J000103.3+105724,NaN,1109001050739,NaN,00:01:03.37,NaN,NaN,+10:57:24.4,NaN,NaN,...,1.5837582,NaN,NaN,NaN,0.11,NaN,223,8.0,NaN,NaN
5,CSS_J000103.4+395744,NaN,1140001014341,NaN,00:01:03.46,NaN,NaN,+39:57:44.5,NaN,NaN,...,1.9670131,NaN,NaN,NaN,0.14,NaN,158,1.0,NaN,NaN
6,CSS_J000106.9+120610,NaN,1112001016471,NaN,00:01:06.96,NaN,NaN,+12:06:10.3,NaN,NaN,...,0.297318,NaN,NaN,NaN,0.11,NaN,205,1.0,NaN,NaN
7,CSS_J000110.8+400521,NaN,1140001018252,NaN,00:01:10.89,NaN,NaN,+40:05:21.1,NaN,NaN,...,0.6606980,NaN,NaN,NaN,0.09,NaN,158,1.0,NaN,NaN
8,CSS_J000131.5+324913,NaN,1132001052010,NaN,00:01:31.54,NaN,NaN,+32:49:13.1,NaN,NaN,...,13.049549,NaN,NaN,NaN,0.17,NaN,188,8.0,NaN,NaN
9,CSS_J000141.2+421108,NaN,1140001088090,NaN,00:01:41.28,NaN,NaN,+42:11:08.2,NaN,NaN,...,0.308596,NaN,NaN,NaN,0.54,NaN,153,1.0,NaN,NaN